

/* Hide ... posted notifications */
ul:not([data-gt*='"ref":"notif_page"']) li[data-gt*='"notif_type":"group_activity"'] {
    display:none !important;
}


/* hide your face from reply field */
._3mf1 { display: none; }


/* Hide profile, home and create links from topmenu */
._cy7 {display: none;}

/* background color, image and other color settable? */
._2s1x ._2s1y { background-color: black; color: gray; }

