/* Hide right sidebar and ads */
#rightCol {display: none;}
#contentArea {right: 0; margin-left: 0px !important;}
#contentArea {width: 100% !important;}
._6l4, ._2a2q, ._5cq3 a { margin: 0 auto !important; }