/*
** file: css/options.css
** description: custom styling for "html/options.html" file
*/
body { background-color: #f1f1f1; }
.main {width: 700px; margin: 0 auto;}
label {display: block; font-size: 14px; margin-bottom: 20px !important;}